  <section class="description" id="description">
    <p class="description" style="max-width: 100%;">We’ve all seen at least one movie about flesh-eating zombies taking over (my personal
      favorite is Resident Evil), but where do zombies come from and why do they love eating
      brains so much? The word zombie comes from Haitian and New Orleans voodoo
      origins. Although its meaning has changed slightly over the years, it refers to a human
      corpse mysteriously reanimated to serve the undead. Through ancient voodoo and
      folk-lore traditions, shows like the Walking Dead were born.
        
      </p>
      <p class="description" style="max-width: 100%;">

      In movies, shows, and literature, zombies are often depicted as being created by an
      infectious virus, which is passed on via bites and contact with bodily fluids. Harvard
      psychiatrist Steven Schlozman wrote a (fictional) medical paper on the zombies
      presented in Night of the Living Dead and refers to the condition as Ataxic
      Neurodegenerative Satiety Deficiency Syndrome caused by an infectious agent. The
      Zombie Survival Guide identifies the cause of zombies as a virus called solanum. Other
      zombie origins shown in films include radiation from a destroyed NASA Venus probe
      (as in Night of the Living Dead), as well as mutations of existing conditions such as
      prions, mad-cow disease, measles and rabies.</p>
  </section>