<section class="emergencyresponse" id="emergencyresponse">
    <h2>    Collection - CDC Emergency Response Links
    </h2>

        <div class="grid-col-12">
          <ul class="usa-collection usa-collection">
        <li class="usa-collection__item">
          <div class="usa-collection__body">
      
            <ul class="usa-collection__meta" aria-label="More information">
              <li class="usa-collection__meta-item position-relative">
               
                Learn more about what CDC recommends to prepare for and respond to emergencies
                of all kinds at 
                <a href="https://emergency.cdc.gov/hazards-specific.asp">https://emergency.cdc.gov/hazards-specific.asp</a>
         
                Learn what items you should include in your Emergency Kit at
                <a href="https://www.cdc.gov/cpr/zombie/educate-kit.htm">https://www.cdc.gov/cpr/zombie/educate-kit.htm</a>
                              </li>
                             <li>
                              Learn more about how you can prepare for and stay safe during an emergency at
                             <a href="http://emergency.cdc.gov/">http://emergency.cdc.gov/
                            </a>
                             </li> 
            </ul>
          </div>
        </li>

      </ul>
        </div>
      </div>

</section>