<section class="icon-list" id="icon-list">
<h2>
  Icon List - If You Need to Evacuate

</h2>


<div class="grid-row grid-gap">
  <div class="tablet:grid-col">
    <h3 class="site-preview-heading border-top-1px border-base-light padding-top-1"></h3>
    <ul class="usa-icon-list usa-icon-list--size-lg">
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon text-blue">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="/assets/img/sprite.svg#help"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <span class="text-bold">Timing.</span> Is now the right time to start a
      business?
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon text-blue">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="/assets/img/sprite.svg#help"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <span class="text-bold">Funding.</span> Do I have enough money to launch a
      business?
    </div>
  </li>
  <li class="usa-icon-list__item">
    <div class="usa-icon-list__icon text-blue">
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="/assets/img/sprite.svg#help"></use>
      </svg>
    </div>
    <div class="usa-icon-list__content">
      <span class="text-bold">Need.</span> Will this business fill a real need
      for my customers?
    </div>
  </li>
</ul>
  </div>
</div>
</section>