<section class="part-processlist" id="part-processlist">
  <h2>Process list - Emergency Plan</h2>


  <ol>
    <li>
      <h4>
        Identify the types of emergencies that are possible in your area. 
                  </h4>
      <p class="font-sans-lg margin-top-1 text-light">
        Besides a
        zombie apocalypse, this may include floods, tornadoes, or earthquakes. If you
        are unsure contact your local Red Cross chapter for more information.
      </p>
    </li>
    <li>
      <h4>
        Pick a meeting place          </h4>
      <p class="font-sans-lg margin-top-1 text-light">
        Pick a meeting place for your family to regroup in case zombies invade your
        home…or your town evacuates because of a hurricane. Pick one place right
        outside your home for sudden emergencies and one place outside of your
        neighborhood in case you are unable to return home right away.
      </p>
    </li>
    <li>
      <h4>
        Identify your emergency contacts          </h4>
      <p class="font-sans-lg margin-top-1 text-light">
        Make a list of local contacts like the police,
        fire department, and your local zombie response team. Also identify an
        out-of-state contact that you can call during an emergency to let the rest of your
        family know you are ok.
        
      </p>
    </li>
    <li>
      <h4 >
        Plan your evacuation route.          </h4>
      <p class="font-sans-lg margin-top-1 text-light">
        When zombies are hungry they won’t stop until they
        get food (i.e., brains), which means you need to get out of town fast! Plan where
        you would go and multiple routes you would take ahead of time so that the flesh
        eaters don’t have a chance! This is also helpful when natural disasters strike and
        you have to take shelter fast.
      </p>
    </li>
  </ol>
</section>