<section class="summary" id="summary">
  <h3 class="site-preview-heading"></h3>
  <div class="usa-summary-box" role="region" aria-labelledby="summary-box-key-information">
    <div class="usa-summary-box__body">
      <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      </h3>
      <div class="usa-summary-box__text">
        <ul class="usa-list">
          <li>
            Know your community’s
            <a class="usa-summary-box__link" href="#standardTable">Emergency Contacts</a>.
          </li>
          <li>
            If you are under a Zombie Apocalypse Warning, make an <a class="usa-summary-box__link" href="#processlist"> Emergency Plan
            </a> right away.
          </li>
          <li>
            Gather  
            <a class="usa-summary-box__link" href="#list"> Emergency Supplies</a> 
            for your home and your car.
          </li>
          <li>
            Sign up for your community’s
            <a   <a class="usa-primary-link" href="login.html">Zombie Task Force</a>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>